.row{
    margin-left: 20px;
    color:#fff;
}

.posters{
    display:flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-width:180px;
    margin-right: 10px;
    border-radius: 4px;
}

.small_poster{
    max-width: 150px;
    margin-right: 10px;
    border-radius: 4px;
}
 .poster:hover{
    cursor: pointer;
    transform: scale(1.1);
 }

 .small_poster:hover{
    cursor: pointer;
    transform: scale(1.1);
 }
 .close{
    padding: 5px;
 }
 .close_button{
    display: flex;
    justify-content: end;
    margin-right: 20px;
 }
 